# Arquivos compilados do Java
*.class

# Pastas de build/execução do IntelliJ
out/
bin/
build/
target/

# Configurações locais da IDE (IntelliJ IDEA)
.idea/
*.iml
*.iws
*.ipr

# Arquivos do sistema operacional
.DS_Store
Thumbs.db